@import url('../../css/_index.css');
@import url('../../css/_variables.css');

body {
  background-color: #212121;
}

img {
  max-width: 75px;
  max-height: 100%;
}

a {
  text-decoration: none;
}

a:focus {
  color: aqua;
}

.formItems {
  display: flex;
  align-items: center;
  justify-content: center;
}

.header {
  display: grid;
  grid-template-columns: 1fr 4fr 2fr;
  justify-content: space-between;
  font-size: 16px;
  background: white;
  height: 75px;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
}

.header a {
  color: var(--text-color-02);
  font-weight: bold;
}

.buttonHome {
  padding: 10px 20px;
  border-radius: 7px;
  background-color: var(--background-color-02);
  font-weight: bolder;
  cursor: pointer;
}

.centerItems {
  display: flex;
  gap: 15px;
}

.rightItems {
  display: flex;
  gap: 15px;
  align-items: center;
  justify-content: end;
  grid-column: 3/3;
}

.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url('./lina-verovaya-N4njM45mXFM-unsplash.jpg');
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  gap: 12px;
}

.buttonForm {
  padding: 20px 20px;
  border-radius: 0px 7px 7px 0px;
  font-weight: 500;
  background-color: var(--background-color-02);
}

.mainText {
  font-size: 64px;
  line-height: 80%;
  text-align: center;
  font-weight: bold;
}

.inputItem {
  position: relative;
  padding: 20px 30px;
  border-radius: 7px 0px 0px 7px;
}

.inputItem::before {
  top: 0px;
  position: absolute;
  content: '';
  height: 12px;
  width: 12px;
  background-color: red;
}

.items {
  background: var(--background-color-02);
  text-decoration: none;
  cursor: pointer;
  padding: 5px 10px;
  border-radius: 7px;
  color: var(--text-color-02);
}

.secondaryText {
  text-align: center;
}

@media (max-width: 550px) {
  .centerItems {
    display: none;
  }

  .buttonForm {
    padding: 10px 20px;
  }

  .inputItem {
    padding: 10px 20px;
  }

  .formItems {
    flex-wrap: wrap;
  }
}
