h4 {
    color: #ffffff;
    font-family: 'Roboto', sans-serif;
}

h6 {
    color: #ff9000;
    font-family: 'Roboto', sans-serif;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #312e38;
}

.perguntas {

    margin-right: 55px;

}

