
.header img {
    max-width: 75px;
    max-height: 100%;
  }
a:focus {
    color: aqua;
  }
  .header {
    display: grid;
    grid-template-columns: 1fr 4fr 2fr;
    justify-content: space-between;
    font-size: 16px;
    background: white;
    height: 75px;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
  }
  
  .header a {
    color: var(--text-color-02);
    font-weight: bold;
  }
  
  .buttonHome {
    padding: 10px 20px;
    border-radius: 7px;
    background-color: var(--background-color-02);
    font-weight: bolder;
    cursor: pointer;
  }
  
  .centerItems {
    display: flex;
    gap: 15px;
  }
  
  .rightItems {
    display: flex;
    gap: 15px;
    align-items: center;
    justify-content: end;
    grid-column: 3/3;
  }
  main{
    margin-left: auto;
    margin-right: auto;
    margin-top: 45px;
    max-width: 1280px;
  }
  .sdd{
    display: grid;
    grid-template-areas:"main aside";
    grid-template-columns: 67.5% 32.5%;
    margin-left: auto;
    margin-right: auto;
    align-self: baseline;
    }
  div img{
        grid-area: main;
    
   }
   .qwert{
    grid-area: main;
    overflow:auto;
   }
   .asdfg{
    grid-area: main;
   }
  
h3{
    grid-area: main;
  
  }
  .tupu{
    text-align: center;
  }
  #tel{
    margin-top: 30px;
    border-top: 1px solid;
    border-bottom: 1px solid;
  }
  #tel2{
    margin-top: 20px;
    margin-bottom: 20px;
    grid-template-areas: "abc def ghi";
    display: grid;
    align-items: center;
  }
  #poi{
    margin-top: 0;
    margin-bottom: 20px;
  }
#pad{
   padding: 10px;
   border-top: 1px solid ;
   display: grid;
   grid-template-areas: "serv pric but";
   grid-template-columns: 70% 15% 15%;
   align-items:center;
  
  }
  #but{
    grid-area: but;
    color:black;
    background-color: orangered;
    border-radius: 5px;
  }
 
  