* {
  font-family: var(--ff-roboto-slab);
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  outline: none;
  border: none;
}

body,
html {
  background-color: var(--background-color-01);
  color: var(--text-color-01);
  height: 100%;
  width: 100%;
  margin: 0;
  -webkit-font-smoothing: antialiased;
}

body,
input,
button {
  font-family: var(--ff-roboto-slab);
  font-size: 16px;
}

h1,
h2,
h3,
h4,
strong {
  font-weight: 500;
}

div#page {
  display: none;
  height: 100%;
  width: 100%;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  height: 50px;
  background-color: var(--background-color-01);
  color: var(--text-color-01);
  display: flex;
  align-items: center;
  padding: 0 20px;
  width: 100%;
}

iframe {
  height: 100%;
  width: 100%;
  overflow: auto;
}

div[page-name="home"]>#page {
  margin-top: 50px;
}

button,
input[type="checkbox"] {
  cursor: pointer;
}

strong {
  font-weight: 700;
}

.ff-roboto-slab {
  font-family: var(--ff-roboto-slab);
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
