:root {
  --ff-roboto-slab: 'Roboto Slab', serif;
  --text-color-01: #ffffff;
  --text-color-02: #312e38;
  --background-color-01: #312e38;
  --background-color-02: #ff9000;
  --background-color-03: #d17c00;
  --background-color-error: #c53030;
  --background-color-success: #22bb33;
}
