
.header img {
    max-width: 75px;
    max-height: 100%;
  }
  
  a {
    text-decoration: none;
  }
  
  a:focus {
    color: aqua;
  }
.header {
    display: grid;
    grid-template-columns: 1fr 4fr 2fr;
    justify-content: space-between;
    font-size: 16px;
    background: white;
    height: 75px;
  }
  
  .header a {
    margin-top: 10px;
    color: var(--text-color-02);
    font-family: sans-serif;
    font-weight: bold;
  }
  .buttonHome {
    padding: 10px 20px;
    border-radius: 7px;
    background-color: var(--background-color-02);
    font-family: sans-serif;
    font-weight: bolder;
    cursor: pointer;
  }
  .centerItems {
    display: flex;
    gap: 15px;
  }
  
  .rightItems {
    display: flex;
    gap: 15px;
    align-items: center;
    justify-content: end;
    grid-column: 3/3;
  }
  
.listaBarber{
  border-color: blanchedalmond;
  border-left: 10px;
 
}
 main h3{
  
  font-size: 60px;
  
 }

 .card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 50%;
  margin-left: 15%;
  display: flex;
}
.card img{
  width: 100%;
  
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.container {
  padding: 2px 16px;
}

 li{
  margin-top: 50px;
 }
 h1{
  color:#ff9000 ;
 }



